.addToCart {
  background-color: rgb(255, 216, 20);
  border: none;
  border-radius: 20px;
  margin-right: 100px;
  padding: 7px 50px;
  font-size: 20px;
  cursor: pointer;
}

.requestNow {
  background-color: black;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 14px 27px;
  font-size: 15px;
  font-weight: bold;
  margin-right: 20px;
  cursor: pointer;
}

.scheduleForLater {
  background-color: rgb(230, 230, 230);
  color: black;
  border: none;
  border-radius: 8px;
  padding: 14px 27px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.js-gaming-button {
  background-color: rgb(230, 230, 230);
  color: black;
  border: none;
  border-radius: 8px;
  padding: 14px 27px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 100px;
}

.js-music-button {
  background-color: rgb(230, 230, 230);
  color: black;
  border: none;
  border-radius: 8px;
  padding: 14px 27px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.js-tech-button {
  background-color: rgb(230, 230, 230);
  color: black;
  border: none;
  border-radius: 8px;
  padding: 14px 27px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.is-toggled {
  background-color: black;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 14px 27px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}